<main id="main" class="d-flex align-self-center " >

    <div class="d-flex align-self-center justify-content-start">
        <img width="200" src="../../assets/index_page/BOTELLA_INICIO.png">
        <div id="formedad" class="text-center">
            <img src="../../assets/index_page/TITULAR_NUEVA FORMULA.png" width="320" alt=""><br/>
            <form class="d-flex align-self-center justify-content-between">
                <input type="number"  min="1" max="31"  style="text-align:center;" [(ngModel)]="day" name="day" class="input" placeholder="DD" pattern="/^-?\d+\.?\d*$/" onKeyPress="if(this.value.length==2) return false;" required/>
                <input type="number" min="1" max="12" style="text-align:center;" [(ngModel)]="month" name="month" class="input" placeholder="MM" pattern="/^-?\d+\.?\d*$/" onKeyPress="if(this.value.length==2) return false;" required/>
                <input type="number" min="1640" max="2021" style="text-align:center;" [(ngModel)]="year" name="year" class="input" placeholder="AAAA" pattern="/^-?\d+\.?\d*$/" onKeyPress="if(this.value.length==4) return false;" required/>
            </form><br/>
            <img width="300" src="../../assets/index_page/Contenedor_Ingresarc.png" class="pointer" alt=""(click)="enter()">
        </div>
    </div>

            <img id="improcres" src="../../assets/index_page/DECRETO.png" alt="">

</main>
    